.navbar {
    background-color: black;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Garamond", Times, serif;
    margin-right: 15;
    margin-left: 15;
}

.navbar a:hover {
    color: #ffccff;
}

.ro1 {
    transform: rotate(30deg)
}

.ro2 {
    transform: rotate(60deg)
}

.ro3 {
    transform: rotate(90deg)
}

.ro4 {
    transform: rotate(120deg)
}

.ro5 {
    transform: rotate(150deg)
}

.ro6 {
    transform: rotate(180deg)
}

.ro7 {
    transform: rotate(210deg)
}

.ro8 {
    transform: rotate(240deg)
}

.ro9 {
    transform: rotate(270deg)
}

.ro10 {
    transform: rotate(300deg)
}

.ro11 {
    transform: rotate(330deg)
}



.future {
    transform: rotate(180deg);
    flex: auto;
    
}
