.navbar {
    background-color: black;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Garamond", Times, serif;
    margin-right: 15;
    margin-left: 15;
}

.navbar a:hover {
    color: #ffccff;
}

body {
    background-color: #fdd9dd;
    font-family: 'Varela Round';
}

.fires{
    flex: auto;
}

img{
    border-radius: 40px;
}



.fire1 img{
    margin-top: 100px;
    border: 8px solid;
    border-color: #ffaf61;
    border-radius: 47px;
    float:left;
    padding: 5px;
    margin-right: 140px;
}

.fire2 img{
    margin-top: 250px;
    border: 8px solid;
    border-color: #ff8aa9;
    border-radius: 47px;
    float:left;
    padding: 5px;
}

.row1: :after{
    content: "";
    clear: both;
    display: table;
}

.fire3 img{
    margin-top: 10px;
    border: 8px solid;
    border-color: #ffcd14;
    border-radius: 47px;
}

.fire4 img{
    margin-top: 300px;
    border: 8px solid;
    border-color: #ff9e38;
    border-radius: 47px;
}
.fire5 img{
    margin-top: 80px;
    border: 8px solid;
    border-color: #FF7373;
    border-radius: 47px;
    margin-right: 30px;
}