.navbar {
    background-color: black;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Garamond", Times, serif;
    margin-right: 15;
    margin-left: 15;
}

.navbar a:hover {
    color: #ffccff;
}

.stack {
    margin-left: 400;
    display: block;
    position: relative;
    width: 100;
}

.brow {
    margin-left: 60;
}

.eye {
    margin-left: 65;
}

.nose {
    margin-left: 156
}

.lip {
    margin-top: 40;
    margin-left: 98;
}

.beard {
    margin-left: 70
}