.navbar {
    background-color: black;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Garamond", Times, serif;
    margin-right: 15;
    margin-left: 15;
}

.navbar a:hover {
    color: #ffccff;
}

body{background-color: #e6f7ff}
h1{text-align: center;
font-family: "Times New Roman", Times, serif;
font-size: 50;
margin-top: 50;
}
p{text-align: center;
font-family: "Times New Roman", Times, serif;}

.img1 {float: left;
margin-left: 150;
margin-top: 30}

.img2 {float: right;
margin-right: 150;
margin-top: 30}

.center {
    display: block;
    margin-left: auto;
margin-right: auto;
margin-top: 50;
margin-bottom: 60}

h2 {font-size: 32}

h3 {font-size: 22}

.slott-flex {
    display: flex;
    flex-direction: row;
}

.slottettext {
    margin-right: 10;
}

.slottet {
    margin-right: 20;
}

.opera-flex {
    display:flex;
    flex-direction: row;
}

.operatext {
    margin-right: 10;
}

.opera-slott {
    display: flex;
    flex-direction: row;
}

.sauna-flex {
    display: flex;
    flex-direction: row;
}

.saunatext {
    margin-right: 10;
    width: 271
}

.sauna {
    margin-right: 20;
}

.aker-flex {
    display: flex;
    flex-direction: row;
}

.akertext {
    margin-right: 10;
}

.sauna-aker {
    display: flex;
    flex-direction: row;
    margin-top: 100
}

.sommer-flex {
    display: flex;
    flex-direction: row;
}

.sommertext {
    margin-right: 10;
    width: 271
}

.sommer{
    margin-right: 20;
}

.vinter-flex {
    display: flex;
    flex-direction: row;
}

.vintertext {
    margin-right: 10;
}

.sommer-vinter {
    display: flex;
    flex-direction: row;
    margin-top: 100;
    margin-bottom: 100
}